<div class="container"> 
  <div class="row">
 
 <div class="col-md-4">

<img class="img-circle img-responsive center-block" width="250" height="250" src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png"/>

<br>
<br><br>
<br>

 </div> 


<div class="col-md-8">


<table class="table">


<h4><small>Sex:</small> {{user.gender}} </h4>
<h4><small>Birthday:</small> {{user.birthDate}} </h4>
<h4><small>Email:</small> 
    {{#each user.mail}}
          <ul>
              <li>{{this}}</li>
           </ul>
        {{else}}
          {{user.mail}}
        {{/each}}
        </h4>
<h4><small>Field of studies:</small> Gunnery Sergeant</h4>
<h4><small>Tshirt size:</small> m </h4>

{{#if membership}}
<h4><small>Memberships:</small></h4>
 <ul class="list-unstyled">
  {{#each membership}}
  <li><h4>({{memberType}}) of {{bodyNameAscii}} since {{memberSinceDate}}</h4>
    {{#if changeLog}}
      <ul>
        {{#each changeLog}}
         <li><strong>oppa:</strong> {{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
  {{/each}}
</ul>
{{/if}}
 <br>
<br><br>
<br>

 
<br>
<br>
    </div> <!-- /container -->