

     <div class="bs-docs-header" id="content">
        <div class="container" >	
		<h1>List of members of the body: {{body}}</h1>
        <p> </p>
		<hr>
        
</div>
      </div>
    
<div class="container">	
	
 
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>uid</th>
    <th>Member since</th>
    <th>Member until</th>
    <!--<th>Gender</th>-->
    <th>Mail</th>
    <th>Actions</th>
  </tr>

{{#each applicant}}
      <tr>
        <td>{{cn}}</td>
        <td> <a href="/user/{{uid}}">{{uid}}</a> </td> <!--or maybe using <a href> directly on the name?-->
        <td>{{memberSinceDate}}</td>
        <td>{{memberUntilDate}}</td>
        <td>{{mail}}</td>

        <td>
                <form action="processMembership.php"  method="post" class="form-inline">
					<div class="form-group">
						<input type="hidden" name="uid" value=new.member  class="form-control"></input>
						<input type="hidden" name="bodyCode" value=ITC  class="form-control"></input>
						<div class="radio-inline has-success">
						<label>
							
								<input type="radio" name="memberType" value="Suspended"> Suspend</input>
							
						</label>
						</div>
						<div class="radio-inline has-error">
						<label>
							
								<input type="radio" name="memberType" value="">Idk</input>
							
						</label>
						</div>
						<button type="submit" onClick="window.location.reload()" class="btn btn-info">submit</button>
					</div>
                </form>
        </td>


      </tr> 
 {{/each}}   
      


      </tr> 
    </br>
</table>   

    </div> <!-- /container -->
	
	<footer class="bs-docs-footer">
	<div class="container" style="background-color:#666; !important;">	
	
		</br>
  <img class="img-responsive" src="/static/css/logo_rgb_white_transparent_small.png">
  
  	</br>
	
			
    </div> 
	</footer>
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
  </body>
  
 
  
</html>
