<div class="container">	
	<div class="row">
 
 <div class="col-md-4">

<img class="img-circle img-responsive center-block" width="250" height="250" src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png"/>

<br>
<br><br>
<br>

 </div> 


<div class="col-md-8">


<table class="table">


<h4><small>Sex:</small> {{user.gender}} </h4>
<h4><small>Birthday:</small> {{user.birthDate}} </h4>
<h4><small>Email:</small> 
		{{#each user.mail}}
        	<ul>
        	    <li>{{this}}</li>
       		 </ul>
        {{else}}
        	{{user.mail}}
        {{/each}}
        </h4>
<h4><small>Field of studies:</small> Gunnery Sergeant</h4>
<h4><small>Tshirt size:</small> m </h4>

<h4><small>Memberships:</small></h4>
 <ul class="list-unstyled">
  
  <li><h4>(member) of LOU since 20/5/2013</h4>
    <ul>
    <li><strong>2014-02-24:</strong> membership changed to member</li>
			<li><strong>2014-09-10:</strong> membership changed to board</li>
			<li><strong>2014-09-11:</strong> membership changed to member</li>
			<li><strong>2014-09-19:</strong> membership changed to ancien</li>
    </ul>
  </li>
 
</ul>
 <br>
<br><br>
<br>

 
<br>
<br>
    </div> <!-- /container -->